.board-table {
  max-width: 20rem;
  min-height: 15rem;
  margin: 2rem auto;
}

.board-border-right{
  border-right: 2px solid black;
}

.board-border-bottom{
  border-bottom: 2px solid black !important;
}

th:hover{
  background-color: rgb(236, 226, 226);
  cursor: pointer;
  transition: 600ms background-color;
}

@media (min-width: 768px) {
  .board-table {
    max-width: 35rem;
    min-height: 30rem;
  }
}